body {
  background: linear-gradient(135deg, #26ff00, #61ff52) !important;
  background-color: #32cd32;
  min-height: 100vh;
  padding-top: 20px;
  margin: 0;
  padding: 0;
}

h5 {
  text-align: center;
  color: #04ff00;
}

.card {
  border-radius: 1rem;
}

.btn img {
  margin-right: 5px;
  vertical-align: middle;
}
